@media screen and (max-width: 52em) {
    .right,.left
    {
        float:none;
        position:relative !important;
        width:100%;
        min-height:400px;
    }
    .overlay {
            width:50%;
          }
    .overlay a {font-size: 20px;}
    .overlay .closebtn {
        font-size: 50px;
        top: 15px;
        right: 0px;
        }
      }


@media screen and (max-width: 75em) {
    body { 
        font-size:16px;
    }
}

@media screen and (max-width: 60em) {
    body { 
        font-size:14px;
    }
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
