.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.fa, .fab{
  color: white;
  letter-spacing: 15px; 
  font-size: 18px;
}

.fa hover, .fab hover{
  color: purple;
}

