.image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.fa, .fab{
  color:purple;
  letter-spacing: 14px; 
  font-size: 18px;
  text-align: center;
}

.fa hover, .fab hover{
  text-decoration: none ;
}

